.DS_Store
node_modules
/dist
yarn-error.log
yarn.lock

# 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

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
